@model IEnumerable<Sklep_muzyczny.Models.Podkategoria>

@{
    ViewData["Title"] = "Podkategorie";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj podkategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PodkategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PodkategoriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria.Nazwa)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PodkategoriaId">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.PodkategoriaId">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.PodkategoriaId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
