@model IEnumerable<Sklep_muzyczny.Models.Kategoria>

@{
    ViewData["Title"] = "Kategorie";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KategoriaId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.KategoriaId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.KategoriaId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
