@model IEnumerable<Sklep_muzyczny.Models.Klient>

@{
    ViewData["Title"] = "Klienci";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj klienta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WojewodztwoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRejestracji)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WojewodztwoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRejestracji)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KlientId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.KlientId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.KlientId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
